@font-face {
    font-family: 'lili';
    src: url("fonts/WebYekan.woff") format('Woff');
}
@font-face {
    font-family: 'dinar';
    src: url("fonts/dinar.woff") format('Woff');
}
body{
    direction: rtl;
    font-family: 'lili','Myriad Pro' , Tahoma;
    font-size: 13px;
    background: #fafafa;
    color: #616161;
}
*,ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a,a:hover,a:active,a:visited{
    color: #616161;
    text-decoration: none;
    transition: all .2s ease-in-out;
    -wekit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
img{
    max-width: 100%;
}
.no-lpadding {
    padding-left: 0;
}

.no-rpadding {
    padding-right: 0;
}
.shadow-around{
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.shadow-bottom{
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.title{
    display: table;
    margin: 0 auto;
    text-align: center;
    color: #cf1c25;
}
.title h2{
    margin: 0;
    padding: 10px 0;
    font-size: 22px;
    border-bottom: 1px solid #cf1c25;
}
.title sub{
    display: block;
    padding: 15px 0 25px;
    color: #616161;
}
.block-center {
    float: none;
    display: table;
    margin: 0 auto;
}
.carousel-indicators {
    width: auto;
    margin: 0 auto;
    padding: 0;
}
.no-padding {
    padding: 0;
}
label {
    font-weight: 400;
}
.btn-pink{
    background: #fe16fe !important;
    color: #000;
    border-radius: 300px;
}
.btn-pink:hover{
    background: #b212fe !important;
}

.btn-gradient{
    background: rgb(63,23,155);
    background: linear-gradient(90deg, rgba(63,23,155,1) 0%, rgba(178,18,254,1) 100%);
    color: #000;
    border-radius: 300px;
}
.btn-gradient:hover{
    background: linear-gradient(90deg, rgba(63,23,155,1) 0%, rgba(254,22,254,1) 35%, rgba(178,18,254,1) 100%);
}
.btn-gray{
    background: #868e96;
    color: #000;
    border-radius: 300px;
}
.btn-gray:hover{
    background: #3b4252;
    color: #fff;
    border-radius: 300px;
}
.btn-blue{
    background: #3f179b;
    color: #fff;
    border-radius: 300px;
    font-family: dinar;
}
.btn-blue:hover{
    background: blue;
    color: #fff;
}
.btn-green{
    min-width: 110px;
    padding: 7px 30px;
    border-radius: 300px;
    background: #cfec19;
    color: #485400;
}
.btn-green:hover{
    background: #cfec19;
    color: #485400;
}
.btn-white {
    min-width: 110px;
    padding: 7px 30px;
    border-radius: 300px;
    background: rgba(255,255,255,.3);
    color: #fff !important;
    font-family: dinar;
}
.btn-white:hover,.btn-white:active,.btn-white:focus {
    color: #fff !important;
}
button.close {
    float: left;
}
.container{
    max-width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
.container:after,.container:before{display:table;content:" "}
.container:after{clear:both}
@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}
@media (min-width:1200px){.container{width:1170px}}

.row{
    margin-right:-15px;
    margin-left:-15px
}
.row:after,.row:before{display:table;content:" "}
.row:after{clear:both}
.carousel-control.left,.carousel-control.right{
    background: transparent;
}

/********************************************************************* header *********************************/
.header-top{
    background: black;
}
.fixed-header{
    position: fixed;
    top: 0;
    width: 100% !important;
    z-index: 10000;
    background: #ffffff;
    padding: 10px !important;
    box-shadow: 1px 1px 13px #0f0f1a;
}
.header-main ul li,.header-top ul li{
    float: right;
    display: inline-block;
}
.header-top ul li a{
    display: block;
    padding: 10px;
    font-size: 12px;
    color: #01cad6 !important;
}
.header-top ul li a:hover{
    color: blue;
}
.clear:after,.clear:before{
    display:table;
    content:"";
}
.clear:after,.clear:before {
    clear: both;
}
/********************************************************  *********************************/
.header-main {
    padding: 50px;
}
.header-main .header__btn-login .fa-user {
    margin-left: 8px;
    font-size: 24px;
    font-size: 1.714rem;
    line-height: 24px;

}
.header-main .header__btn-login {
    font-size: 12px;
    font-size: .857rem;
    float: left;
    line-height: 1.833;
    padding: 12px 12px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    cursor: pointer;
    color: #616161;
    box-shadow: 0px 0px 5px #4317a4;
}
.header-main .logo{
    float: left;
    margin-right: 10px;
}

.header-main .logo img{
    width: 50px;
    height: 50px;
    display: block;
}
.header-main ul{
    padding-right: 60px;
}
.header-main ul li {
    position: relative;
}
.header-main ul li a{
    display: block;
    padding: 10px 20px 25px;
    font-size: 14px;
    color: #616161;
}
/*************************************  *********************************/
.header-main ul li ul{
    width: 450px;
    height: 600px;
    position: absolute;
    top: 100%;
    padding-right: 0;
    margin: 20px 0 0;
    opacity: 0;
    visibility: hidden;
    background: white;
    z-index: 1000;
    transition: all .2s ease-in-out;
    -wekit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    box-shadow: -1px 2px 3px rgba(0,0,0,.2);
    -wekit-box-shadow: -1px 2px 3px rgba(0,0,0,.2);
    -moz-box-shadow: -1px 2px 3px rgba(0,0,0,.2);
    -o-box-shadow: -1px 2px 3px rgba(0,0,0,.2);
}
.header-main ul li ul a{
    padding: 10px 15px;
}
.header-main ul li ul img{
    width: auto;
    height: 90%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.header-main ul li a:hover {
    background:transparent;
    color: #ff688f;
}
.header-main ul li ul:first-child::before{
    content: "";
    position: absolute;
    top: -10px;
    right: 50px;
    height: 10px;
    width: 15px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
.header-main ul li ul li{
    float: none;
    width: 100%;
    display: block;
}
.header-main ul li ul li:hover{
    background: beige;
}
.header-main ul li:hover ul{
    opacity: 1;
    visibility: visible;
    margin: 0;
}
/********************************************************  *********************************/
.header-main ul li ul li ul{
    width: 1000px;
    position: absolute;
    height: 600px;
    right: 0px;
    top: 0;
    padding-right: 0;
    margin: 20px 0 0;
    opacity: 0;
    visibility: hidden;
    background: beige;
    z-index: 1000;
    overflow: hidden;
    transition: all .2s ease-in-out;
    -wekit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    box-shadow: -1px 2px 3px rgba(0,0,0,.2);
    -wekit-box-shadow: -1px 2px 3px rgba(0,0,0,.2);
    -moz-box-shadow: -1px 2px 3px rgba(0,0,0,.2);
    -o-box-shadow: -1px 2px 3px rgba(0,0,0,.2);
}
.header-main ul li ul li ul li a{
    padding: 10px 15px;
}
.header-main ul li ul li ul li.im img{
    width: auto;
    height: 300px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000000000000;
}
.header-main ul li ul li ul li a:hover {
    background:transparent;
    color: #ff688f;
}
.header-main ul li ul li ul li ul:before{
    content: "";
    position: absolute;
    top: 10px;
    right: -20px;
    height: 10px;
    width: 15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #000;
}
.header-main ul li ul li ul li ul li{
    float: none;
    width: 100%;
    display: block;
}
.header-main ul li ul li ul li ul li:hover{
    background: beige;
}
.header-main ul li ul ul li li:hover ul{
    opacity: 1;
    visibility: visible;
    margin: 0;
}

/********************************************************  *********************************/


.header-main  nav {
    position: relative;
}
.header-main .open-cart{
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background: linear-gradient(rgba(2,43,48,1) 0%, rgba(254,9,254,1) 50%, rgba(2,43,48,1) 100%);
    background: url("images/icon/shop.png") no-repeat center center;
    background-size: 40px 40px;
}
.header-main .cart{
    width: 800px;
    position: absolute;
    right: 5px;
    top: 60px;
    background: #fff;
    overflow: visible;
    text-align: center;
    display: none;
    z-index: 100;
}
.header-main .active-cart{
    background: #ff09ff url("images/icon/cross97.png") no-repeat center center;
}
.header-main .cart table{
    margin: 0;
}
.header-main .cart tr,.header-main .cart td{
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding: 20px 5px;
    vertical-align: middle;
}
.header-main .cart h6{
    font-size: 14px;
    margin: 0;
}
.header-main .cart .cart-price {
    display: block;
    padding: 0 15px;
    font-size: 18px;
}
.header-main .cart a{
    color: #616161;
}
.header-main .cart .fa{
    font-size: 20px;
}
.header-main .cart .fa:hover{
    color: #ff688f;
}
.header-main .cart .pink{
    color: #ff688f;
    font-size: 16px;
}
.header-main .cart .btn-cart{
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    background: #e8e8e8;
}
.header-main .cart .btn-cart:hover{
    background: #ff688f;
    color: white;
}

.header-bottom{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 20px 10px;
    background: #fff;
    z-index: 10;
    box-shadow: 0px 0px 5px #4317a4;
}
.header-bottom .social{
    float: left;
}
.header-bottom .social li{
    float: left;
    display: inline-block;
}
.header-bottom .social li a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    margin: 5px;
    background: #4317a4;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #4317a4;
    text-align: center;
}
.header-bottom .social li a:hover{
    background: #ff688f;
}
.header-bottom .search {
    width: 350px;
    float: right;
    position: relative;
}

.header-bottom .search input[type="text"],.header-bottom .search input[type="search"] {
    width: 100%;
    height: 40px;
    padding: 0 25px 0 45px;
    background: #fafafa;
    border: 1px solid #efefef;
    line-height: 40px;
    border-radius: 300px;
    box-shadow: 0px 0px 5px #4317a4;
}

.header-bottom .search button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: 0;
    color: #4317a4;
}
/******************************************************** End of header *********************************/

/******************************************************** slider *********************************/
.slider{
    width: 100%;
    position: relative;
    margin: -45px 0 0;
    padding: 100px 0 80px;
    background: url("images/bg/3d-cube.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    margin-bottom: 0px;
    min-height: 600px;
}
.discount-img{
    position: absolute;
    top: 0;
    right: 50%;
    width: 10%;
    height: auto;
}
.slider .carousel-inner > .item.active img  {
    max-height: 400px  !important;
    float: left;
    margin-left: 50px;
    max-width: 90%;
}
.slider .carousel-inner{
    height: 450px;
    margin-top: 30px;
    padding: 25px 50px;
    background: rgba(0,0,0,.4);
    border-radius: 50px;
}
.slider .item.active .back-shadow{
    height: 300px;
    margin-top: 30px;
    background: rgba(0,0,0,.6);
    border-radius: 50px;
}
.slider .btn-slider{
    position: absolute;
    bottom: 50px;
    right: 25%;
}
.slider .slider-content{
    padding: 20px 0 0 80px;
}
.slider h1{
    margin: 0;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    margin-right: 50px;
    text-shadow: 3px 3px 3px #000000;
}
.slider p{
    line-height: 30px;
    text-align: justify;
    margin-right: 50px;
}
.slider .btn{
    float: left;
    margin: 15px 10px 0 0;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 0 15px #00000061;
    color: #fff;
}
.slider .carousel-control{
    text-shadow: 3px 3px 3px #000000;
    color: #ffffff !important;
}
.slider .carousel-indicators{
    width: auto;
    bottom: -60px;
    margin: 0 auto;
    padding: 0;
    right: 0;
    left: 0;
}
.slider .carousel-indicators li{
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #f4f4f4;
    border-color: #f4f4f4;
}
.slider .carousel-indicators .active{
    background: #5fb7ea;
    border-color: #5fb7ea;
}
/******************************************************** End of slider *********************************/
/******************************************************** services *********************************/
.services{
    width: 100%;
    padding: 30px;
    background: #fff;
    margin-bottom: 50px;
}
.services .fa {
    width: 60px;
    height: 60px;
    float: right;
    margin-left: 10px;
    padding: 15px;
    font-size: 25px;
    line-height: 30px;
    background: #fafafa;
    color: #616161;
    border-radius: 50%;
    text-align: center;
}
.services .content{
    padding: 5px 0 0 0;
}
.services .content h4{
    margin-top: 0;
}
.services p{
    color: #9e9e9e;
}
/******************************************************** End of services *********************************/
/******************************************************** new-product *********************************/
.new-product{
    margin-bottom: 80px;
}
.new-product .product{
    position: relative;
    background: #fff;
    margin: 5px;
    border-radius: 2px;
    z-index: 0;
}
.new-product .product figure{
    border-bottom: 1px solid #f0f2f5;
    position: relative;
    height: auto;
    text-align: center;
}
.new-product .product figcaption{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    background: rgba(255,255,255,.6);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.new-product .product figure:hover figcaption{
    opacity: 1;
    visibility: visible;
}
.new-product .product figcaption ul{
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
}
.new-product .product figcaption ul li{
    display: inline-block;
}
.new-product .product figcaption ul li a{
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 5px;
    color: #fff;
    line-height: 40px;
    background: #ff688f;
}
.new-product .product figcaption ul li a:hover{
    background: #5fb7ea;
}
.new-product .product .product-content{
    width: 100%;
    padding: 10px 20px 20px;
    text-align: left;
    z-index: 1;
}
.new-product .product .product-content h2{
    margin: 0;
    padding: 5px 0 20px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: ltr;
}
.new-product .product .product-content h2 a{
    font-size: 14px;
}
.new-product .product .product-content .color-op{
    width: 100%;
    float: left;
    padding: 5px 0;
}
.new-product .product .product-content .color-op ul li{
    float: left;
}
.new-product .product .product-content .color-op ul li + li:after{
    content: "  -  ";
}
.new-product .product .product-content .price{
    color: #ff688f;
    font-size: 18px;
    padding: 5px 0;
    display: block;
    text-align: left;
    font-family: dinar;
}
.new-product .product .product-content a.product-buy{
    height: 45px;
    display: block;
    padding: 10px 10px 0 0;
    position: absolute;
    bottom: 10px;
    right: -5px;
    background: rgb(129,19,255);
    background: linear-gradient(90deg, rgba(129,19,255,1) 0%, rgba(12,70,143,1) 30%, rgba(129,19,255,1) 60%, rgba(12,70,143,1) 100%);
    font-size: 12px;
    color: #fff;
    z-index: 10;
}
.new-product .product .product-content a.product-buy:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -20px;
    transform: skew(-42deg,0deg);
    -webkit-transform: skew(-42deg,0deg);
    -moz-transform: skew(-42deg,0deg);
    -o-transform: skew(-42deg,0deg);
    z-index: -1;
    background: inherit;
}
.new-product .product .product-content a.product-buy:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    right: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #418fbc;
    z-index: -2;
}
.new-product .carousel-indicators{
    width: auto;
    margin: 0 auto;
    padding: 0;
    bottom: -40px;
}
.new-product .carousel-indicators li{
    background: #bdbdbd;
    border-color: #bdbdbd;
}
.new-product .carousel-indicators li.active{
    background: #6420e3;
    border-color: #6420e3;
}
.new-product .carousel-control{
    top: -60px;
    left: 20px;
    text-shadow: none;
}
.new-product .carousel-control.right{
    left: 60px;
    right: auto;
}
.new-product .left-arrow , .new-product .right-arrow{
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 0 20px;
    border: 1px solid #dfdfdf;
    color: #9e9e9e;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
}
/********************************************************  End of new-product slider *********************************/
.quick-access{
    margin: 20px 0 0;
}
.quick-access ul{
    margin-top: 20px;
}
.quick-access ul li{
    position: relative;
    width: 100%;
}
.quick-access ul li a{
    padding: 15px 0;
    display: block;
    font-size: 13px;
}
.quick-access ul li span{
    min-width: 40px;
    padding: 5px;
    border-radius: 300px;
    font-size: 11px;
    background: #5fb7ea;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 0;
    text-align: center;
}
.quick-access ul li a:hover span{
    background: #418fbc;
}
.quick-access .search-form{
    position: relative;
}
.quick-access .search-form input[type="search"]{
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
}
.quick-access .search-form button{
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 3px;
    left: 5px;
    border-radius: 20px;
    border: 0;
    background: transparent;
}
/******************************************************** End of new-product *********************************/

/******************************************************** sale-timeout *********************************/
.sale-timeout{
    width: 100%;
    height: 450px;
    padding: 60px 0;
    position: relative;
    background: #0e1b23;
    margin-bottom: 30px;
}
.sale-timeout:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("images/pattern.png");
}
.sale-timeout .sale-inner{
    position: relative;
    z-index: 100;
}
.sale-timeout .sale-inner figure{
    width: 55%;
    float: right;
    text-align: center;
}
.sale-timeout .sale-inner figure img{
    max-width: 70%;
}
.sale-timeout .sale-inner .sale-timeout-content{
    width: 45%;
    float: right;
    padding: 20px 20px 0 0;
    text-align: center;
    color: #fff;
}
.sale-timeout .sale-inner .sale-timeout-content h2{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 20px 5px;
    font-size: 30px;
}
.sale-timeout .sale-inner .sale-timeout-content h2:after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -4px;
    left: 0;
    border-radius: 50%;
    background: #3e494f;
}
.sale-timeout .sale-inner .sale-timeout-content h2:before{
    content: "";
    width: 250px;
    position: absolute;
    right: 100%;
    bottom: 0;
    border: 1px solid #3e494f;
}
.sale-timeout .sale-inner .sale-timeout-content span{
    display: block;
    font-size: 15px;
}
.sale-timeout .sale-inner .sale-timeout-content a{
    width: 230px;
    height: 70px;
    display: inline-block;
    margin-top: 10px;
    line-height: 70px;
    font-size: 25px;
    background: url("images/btn-bg.jpg");
    color: #5fb7ea;
}
.sale-timeout .sale-inner .sale-timeout-content .sale-timeout-counter{
    display: table;
    width: auto;
    margin: 30px auto 0;
}
.sale-timeout .sale-inner .sale-timeout-content .sale-timeout-counter>div{
    width: 70px;
    height: 100px;
    background: url("images/timer-bg.jpg");
    float: left;
    margin: 0 4px;
    padding: 10px 0;
    line-height: 30px;
    font-size: 20px;
    font-family: dinar;
}
.sale-timeout .sale-inner .sale-timeout-content .sale-timeout-counter>div:last-child{
    display: none;
}
/******************************************************** End of sale-timeout *********************************/

/******************************************************** featured-product *********************************/
.featured-product{
    width: 70%;
    margin: auto;
}
.featured-product .new-product .carousel-control{
    right: 60px;
}
.featured-product .new-product .carousel-control.right{
    right: 20px;
}
/******************************************************** End of featured-product *********************************/

/********************************************************  special-offers  *********************************/
.special-offers{
    width: 100%;
    background-image: url("images/bg/122.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 50px;
}
.special-offers .offer{
    float: right;
    width: 100%;
    padding: 50px 20px;
    color: #fff;
    background: rgba(0,0,0,.5);
}
.special-offers .offer .offer-content{
    padding: 0;
    float: right;
}
.special-offers .offer .offer-content h2{
    text-align: left;
    padding-left: 20px;
}
.special-offers .offer .offer-content p{
    padding: 10px 0 10px 20px;
    line-height: 25px;
    text-align: justify;
}
.special-offers .offer .offer-content ul{
    float: right;
    padding: 20px 0 0;
}
.special-offers .offer .offer-content ul li{
    float: right;
    padding: 0 5px;
}
.special-offers .offer figure{
    padding: 0;
    float: left;
    height: 300px !important;
}
.special-offers .offer figure img{
    height: 300px !important;
    width: auto;
}

.special-offers .carousel-indicators li{
    width: 12px;
    height: 12px;
    margin: 0 2px;
    border-color: #f4f4f4;
    background: #f4f4f4;
}
.special-offers .carousel-indicators .active{
    margin: 0 2px;
    border-color: #cfec19;
    background: #cfec19;
}
.special-offers .carousel-indicators {
    width: auto;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
}
/********************************************************  End of special-offers  *********************************/

/********************************************************  carousel-indicators  *********************************/
.carousel-indicators{
    width: auto;
    margin: 0 auto;
    padding: 0;
}
.carousel-indicators li{
    width: 12px;
    height: 12px;
    margin: 0 2px;
}
/********************************************************  sales  *********************************/
.sales{
    width: 80%;
    display: table;
    margin:0 auto 0;
    padding: 30px;
    background: #fff;
    text-align: center;
    font-family: dinar;
}
#sales{
    position: relative;
}

#sales .sales-img img{
    position: absolute;
    top: 100px;
    right: -3%;
    width: 30%;
    height: auto;
}
#sales .sales-img2 img{
    position: absolute;
    top: 30px;
    left: -5%;
    width: 30%;
    height: auto;
}
.sales .sale-item h2{
    position: relative;
    margin: 0 auto 15px;
    font-size: 15px;
    color: #616161;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: ltr;
}
.sales .sale-item figcaption{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: rgba(255,2555,255,.4);
    opacity: 0;
    visibility: hidden;
}
.sales .sale-item:hover figcaption{
    opacity: 1;
    visibility: visible;
}
.sales .sale-item figcaption a{
    width: 120px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    line-height: 30px;
    border-radius: 5px;
    color: #fff;
}
.sales .sales-item figcaption a:hover,.sales .sales-item figcaption a:active,.sales .sales-item figcaption a:focus {
    color: #fff !important;
}
.sales .sale-item span{
    position: relative;
    padding: 0 5px;
    font-size: 18px;
    color: #cf1c25;
}
.title sub{
    font-size: 18px;
    font-family: dinar;
}
.category{
    float: left;
    position: relative;
}
.category i{
    float: left;
    display: inline-block;
}
.category i.fa.fa-bars{
    position: absolute;
    left: 130px;
    top: 12px;
}
.category i.fa.fa-sort-desc{
    position: absolute;
    left: 215px;
    top: 12px;
}
.category h6{
    float: left;
    width: 100px;
    display: inline-block;
    position: absolute;
    left: 110px;
}
#Carousel-sales-product{
    position: relative;
}
#Carousel-sales-product .carousel-indicators li{
    background: #616161;
    border-color: #616161;
}
#Carousel-sales-product .carousel-indicators li.active{
    background: #5fb7ea;
    border-color: #5fb7ea;
}
#Carousel-sales-product .carousel-control{
    top: -50px;
    right: 160px;
    text-shadow: none;
    color: #000;
}
#Carousel-sales-product .carousel-control.right{
    right: 120px;
}
#Carousel-sales-product .left-arrow , #Carousel-sales-product .right-arrow{
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 0 20px;
    border: 1px solid #dfdfdf;
    color: #9e9e9e;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
}
/********************************************************  End of sales  *********************************/

/********************************************************  customers  *********************************/
.offset{
    margin-left: 25%;
}
.customers-item{
    text-align: center;
    padding: 70px 0;
}
.customers-item .customer-thumb img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.customers-item .customer-content{
    line-height: 25px;
    padding: 15px 0 0 ;
    text-align: center;
}
.customers-item .customer-title{
    font-size: 12px;
}
.customers .carousel-indicators {
    margin-left: -15px;
}

.customers .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 0 2px;
    background: #bdbdbd;
    border-color: #bdbdbd;
}

.customers .carousel-indicators .active {
    margin: 0 2px;
    background: #ff688f;
    border-color: #ff688f;
}
/********************************************************  End of customers  *********************************/

/********************************************************  ads  *********************************/
.subtitle-img{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ads-item{
    height: 240px;
    overflow: hidden;
    position: relative;
    margin:50px auto;
    background: rgba(0,0,0,.4);
    background-image: url("images/bg/110.jpg");
    background-size:100% 100%;
    background-position: center;

}
.ads-item img{
    width: auto;
    height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ads-item .ads-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    outline: 1px solid #fff;
    outline-offset: -15px;
}
.ads-item .ads-content span{
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 3px #000000;
}
.ads-item:hover .ads-content{
    outline: 1px solid #5fb7ea;
}
.ads-item:hover .ads-content span{
    color: #5fb7ea;
}

/********************************************************  End of ads  *********************************/

/********************************************************  support  *********************************/
.support{
    width: 100%;
    float: right;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
}
/********************************************************  End of support  *********************************/

/********************************************************  best-seller  *********************************/
.best-seller{
    width: 100%;
    float: right;
    text-align: center;
    margin-bottom: 20px;
}
.best-seller ul li{
    padding: 0;
}
.best-seller .best-item{
    padding-bottom: 20px;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
.best-seller li:nth-child(5) .best-item,.best-seller li:nth-child(6) .best-item,.best-seller li:nth-child(7) .best-item,.best-seller li:nth-child(8) .best-item {
    border-bottom: 0;
}

.best-seller li:nth-child(4) .best-item,.best-seller li:nth-child(8) .best-item {
    border-right: 0;
}
.best-seller .best-item h2 {
    position: relative;
    margin: 0 auto 5px;
    font-size: 15px;
    color: #616161;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: ltr;
}

.best-seller .best-item span {
    position: relative;
    padding: 0 5px;
    font-size: 18px;
    color: #ff688f;
}
/********************************************************  End of best-seller  *********************************/

/********************************************************  pre-order  *********************************/
.pre-order{
    width: 100%;
    float: right;
    margin-bottom: 20px;
}
.pre-order .pre-order-content{
    width: 100%;
    float: right;
    padding: 50px 0 0;
}
.pre-order .pre-order-content .pre-order-title{
    padding: 0 0 10px;
    font-size: 20px;
    color: #ff688f;
}
.pre-order .pre-order-content p{
    line-height: 30px;
    text-align: justify;
    color: #616161;
}
.pre-order .pre-order-content form{
    width: 100%;
    float: right;
    padding: 20px 0 0;
}
.pre-order .pre-order-content input {
    width: 250px;
    height: 45px;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.pre-order .pre-order-content input:focus {
    border-color: #ff688f;
}

.pre-order .pre-order-content input[type="submit"],.pre-order .pre-order-content button {
    width: 125px;
    height: 45px;
    float: left;
    border: 0;
    color: #fff;
    border-radius: 7px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom,#e6436d,#ff98b3);
    background-image: -moz-linear-gradient(bottom,#e6436d,#ff98b3);
    background-image: -o-linear-gradient(bottom,#e6436d,#ff98b3);
    background-image: -ms-linear-gradient(bottom,#e6436d,#ff98b3);
    background-image: linear-gradient(to top,#e6436d,#ff98b3);
}
/********************************************************  End of pre-order  *********************************/

/********************************************************  tab-slider  *********************************/
.tab-slider{
    width: 100%;
    height: 300px;
    position: relative;
}
.tab-slider:before{
    content: "";
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    background: #5fb7ea;
}
.tab-slider .nav-tabs{
    display: table;
    border: none;
    margin: 0 auto;
}
.tab-slider .nav-tabs li{
    float: right;
    margin: 0;
    text-align: center;
}
.tab-slider .nav-tabs li.active,.tab-slider .nav-tabs li:hover,.tab-slider .nav-tabs>li.active>a,.tab-slider .nav-tabs>li.active>a:focus,.tab-slider .nav-tabs>li.active>a:hover {
    background: transparent;
    border-color: transparent;
    color: #fff;
}
.tab-slider .nav-tabs li a,.tab-slider .nav-tabs li a:active,.tab-slider .nav-tabs li a:focus{
    display: block;
    padding: 40px 100px;
    margin: 0;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border-color: transparent;
}
.tab-slider .nav-tabs li a:hover{
    background: transparent;
    border-color: transparent;
}
.tab-slider .nav-tabs li a .fa{
    display: block;
    padding: 5px;
    font-size: 35px;
    color: #3782ae;
}
.tab-slider .tab-content{
    width: 100%;
    float: right;
    position: relative;
    padding: 15px 50px;
    background: #fff;
    margin-bottom: 50px;
}
.tab-slider .tab-content .tab-item{
    width: 100%;
    float: right;
    position: relative;
    padding: 10px 0;
    margin: 15px 5px;
    border: 1px solid #fafafa;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.tab-slider .tab-content .tab-item figure{
    float: left;
    padding-right: 10px;
}
.tab-slider .tab-content .tab-item .tab-item-content{
    width: 50%;/************  نکته مهم *****************/
    float: left;
    text-align: left;
}
.tab-slider .tab-content .tab-item .tab-item-content h6 {
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
    overflow: hidden;/************  نکته مهم *****************/
    text-overflow: ellipsis;/************  نکته مهم *****************/
    white-space: nowrap;/************  نکته مهم *****************/
    direction: ltr;/************  نکته مهم *****************/
    /************  نکته مهم *****************/
}

.tab-slider .tab-content .tab-item .tab-item-content span {
position: relative;
padding: 0;
font-size: 15px;
color: #ff688f;
}
/********************************************************  End of tab-slider  *********************************/

/********************************************************  blog  *********************************/
.blog{
    width: 100%;
    float: right;
    margin-bottom: 50px;
}
.blog article{
    width: 100%;
    background: #fff;
    margin: 25px 5px 5px;
    line-height: 25px;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.blog article .blog-content{
    padding: 20px 30px;
}
.blog article .blog-content header{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
}
.blog article .blog-content header h2{
    font-size: 15px;
    line-height: 30px;
}
.blog article .blog-content header h2 a{
    color: #3782ae;
}
.blog article .blog-content p{
    line-height: 30px;
    text-align: justify;
}
/********************************************************  End of blog  *********************************/

/********************************************************  newsletter  *********************************/
.newsletter {
    margin-bottom: 50px;
    position: relative;
}

.newsletter form {
    display: table;
    margin: 0 auto;
    position: relative;
}

.newsletter i {
    position: relative;
    top: 0;
    right: 40px;
}

.newsletter input[type="text"] {
    height: 60px;
    padding: 0 70px 0 300px;
    font-size: 14px;
    background: #fff;
    border-radius: 300px;
    border: 0;
    color: #ff688f;
}

.newsletter input[type="submit"],.newsletter button {
    width: 170px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    background: #5fb7ea;
    color: #fff;
    border-radius: 30px 0 0 30px;
    border: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.newsletter input[type="submit"]:hover,.newsletter button:hover {
    background: #ff688f;
}

.newsletter p {
    padding: 20px 0;
}
/********************************************************  End of newsletter  *********************************/

/********************************************************  footer  *********************************/
.footer-content {
    width: 100%;
    float: right;
    padding: 50px 0;
    background: #202731;
    color: #96a2b3;
}

.footer-content h4 {
    margin: 0;
    color: #fff;
}

.footer-content ul {
    margin: 20px auto 0;
}

.footer-content ul li {
    display: block;
    margin-bottom: 15px;
    padding-right: 15px;
    position: relative;
}

.footer-content ul li:before {
    content: "\f104";
    font-family: "FontAwesome";
    position: absolute;
    width: 5px;
    height: 2px;
    top: 1px;
    right: 0;
}

.footer-content ul li a {
    color: #96a2b3;
}

.footer-content ul li a:hover {
    color: #ff688f;
}

.footer-bottom {
    width: 100%;
    float: right;
    padding: 20px 0;
    background: rgb(32,241,245);
    background: linear-gradient(rgba(2,43,48,1) 0%, rgba(32,241,245,1) 50%, rgba(2,43,48,1) 100%);
    color: #fff;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    color: black !important;
}

.subscriber-title {
    font-size: 15px;
    font-weight: 500;
    color: #96a2b3;
    display: inline-block;
    margin-top: 30px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.input-group input[type="email"]::placeholder {
    font-family: iranyekan,sans-serif;
}
.form-control::placeholder {
    color: #999;
    opacity: 1;
}
.input-group input::placeholder {
    text-align: right;
    padding-right: 10px;
}
.input-group .form-control {
    float: right;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: 0;
}
.input-group input[type="email"] {
    font-family: iranyekan,sans-serif;
}
.zero-zindex {
    z-index: 0 !important;
}
.news-input {
    height: 40px;
    border-radius: 0 !important;
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control {
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    display: block;
}

.input-group-addon:last-child {
    border-left-width: 1px;
    border-left-style: solid;
    border-right: 0;
}
.input-group-addon:last-child {
    border-left: 0;
    border-left-style: none;
    border-left-width: 0px;
}
.colorf {
    color: #fff !important;
}
.btn-blue {
    background-color: #20cae7;
    -webkit-box-shadow: inset 0 0 23px 5px rgba(30,186,213,1);
    -moz-box-shadow: inset 0 0 22px 5px rgba(30,186,213,1);
    box-shadow: inset 0 0 22px 5px rgba(30,186,213,1);
    position: relative;
}
.news-input {
    height: 40px;
    border-radius: 0 !important;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    border: 1px solid #ccc;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 4px;
}
.input-group-addon{
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell
}
.colorf {
    color: #fff !important;
}
.center {
    text-align: -moz-center !important;
    text-align: -webkit-center !important;
    text-align: center;
}
.input-group button {
    border: none;
    background: 0 0;
    outline: 0 !important;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
/********************************************************  End of footer  *********************************/

/********************************************************  single  *********************************/
.cover-single {
    width: 100%;
    float: right;
    margin: -45px 0 0;
    padding: 100px 0 70px;
    position: relative;
    background: url(images/single/cover.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.cover-single:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.3);
}

.cover-single h1 {
    position: relative;
    font-size: 25px;
    z-index: 1;
}

.cover-single a {
    display: inline-block;
    padding: 5px 5px 0;
    position: relative;
    color: #fff;
    z-index: 10;
}

.single-product-details {
    width: 100%;
    float: right;
    padding: 80px 0;
}

.single-product-details .product-slider {
    padding-top: 50px;
    background: #fff;
}

.single-product-details .product-slider figure {
    position: relative;
    padding: 0 30px;
    margin-bottom: 50px;
}

.single-product-details .product-thumb {
    padding: 0 50px 30px;
}

.single-product-details .product-thumb figure {
    margin: 0;
    padding: 15px 0;
    border: 1px solid #f4f4f4;
}

.single-product-details .product-thumb figure img {
    display: block;
    margin: 0 auto;
}

.single-product-details .product-thumb .owl-prev {
    position: absolute;
    top: 30%;
    left: -30px;
    font-size: 25px;
}

.single-product-details .product-thumb .owl-next {
    position: absolute;
    top: 30%;
    right: -30px;
    font-size: 25px;
}

.single-product-details .single-product-overview {
    padding-left: 60px;
    position: relative;
}

.single-product-details .single-product-overview h2 {
    margin: 5px auto;
}

.single-product-details .single-product-overview .review,.single-product-details .single-product-overview .view {
    display: inline-block;
    padding: 5px 0 0 10px;
    color: #5fb7ea;
}

.single-product-details .single-product-overview p {
    padding: 20px 0;
    line-height: 30px;
}

.single-product-details .single-product-overview .single-product-overview-list ul {
    margin: 0;
}

.single-product-details .single-product-overview .single-product-overview-list ul li {
    display: block;
    padding: 5px 0;
    font-size: 12px;
    color: #757575;
}
.single-product-details .single-product-overview .cart-options {
    width: 100%;
    float: right;
    padding: 20px 0;
}

.single-product-details .single-product-overview .cart-options .price {
    display: inline-block;
    padding: 0 10px 0 0;
    font-size: 25px;
    color: #ff688f;
}

.single-product-details .single-product-overview .cart-options del {
    font-size: 20px;
}

.single-product-details .single-product-overview .cart-options .btn-cart {
    margin: 20px auto;
    padding: 20px 100px;
    font-size: 24px;
    background: #5fb7ea;
    border-radius: 5px;
    color: #fff !important;
}

.single-product-details .single-product-overview .cart-options .btn-cart:hover {
    background: #ff688f;
}

.modal-cart .modal-body {
    width: 100%;
    float: right;
}

.modal-cart input,.modal-cart select {
    width: 100%;
    height: 50px;
    margin: 5px auto;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #a9a9a9;
}

.modal-cart .modal-body input[type="submit"],.modal-cart .modal-body .modal-cart input[type="button"],.modal-cart .modal-body .modal-cart button {
    width: auto;
    float: left;
    border: 0;
    background: #5fb7ea;
    color: #fff;
}
.tabs-product .tab-content {
    line-height: 30px;
}
/********************************************************  End of single  *********************************/

/********************************************************  .page-cart   *********************************/
.block-white {
    width: 100%;
    float: right;
    margin: 50px auto;
    padding: 50px;
    text-align: center;
    background: #fff;
}

.page-cart th,.page-cart td {
    padding: 10px !important;
    text-align: center;
    font-weight: 400;
    vertical-align: middle !important;
}

.page-cart table input {
    width: 70px;
    padding: 5px;
    border: 1px solid #ddd;
}

.page-cart a:hover {
    color: #ff688f;
}

.page-cart .discount {
    width: 100%;
    float: right;
    margin: 10px auto;
    padding: 15px;
    position: relative;
    border: 1px solid #ddd;
}

.page-cart .discount i {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 60px;
    color: #f7f7f7;
}

.page-cart .discount .discount-form {
    float: left;
    padding: 15px 0 0;
}

.page-cart .discount .discount-form input[type="text"] {
    float: right;
    padding: 5px;
    border: 1px solid #5fb7ea;
}

.page-cart .discount .discount-form input[type="submit"],.page-cart .discount .discount-form input[type="button"],.page-cart .discount .discount-form button {
    padding: 5px;
    background: #5fb7ea;
    border: 1px solid #5fb7ea;
    color: #fff;
}

.page-cart .discount .title {
    width: 100%;
    float: right;
    padding-bottom: 5px;
    font-size: 17px;
    text-align: right;
}

.page-cart .discount p {
    clear: both;
    text-align: right;
}

.page-cart .total-cart {
    display: table;
    margin: 10px auto;
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px dotted #ff688f;
    color: #ff688f;
}

.page-cart .btn-center {
    display: table;
    margin: 10px auto 0;
}

.page-cart .btn-center input[type="submit"],.page-cart .btn-center input[type="button"],.page-cart .btn-center button {
    width: 120px;
    margin: 0 5px;
    padding: 10px;
    background: #5fb7ea;
    border: 0;
    color: #fff;
    opacity: .9;
}

.page-cart .btn-center input.btn-pink {
    background: #ff688f;
}

.page-cart .btn-center input[type="submit"]:hover,.page-cart .btn-center input[type="button"]:hover,.page-cart .btn-center button:hover {
    opacity: 1;
}
/********************************************************  End of .page-cart  *********************************/

/********************************************************  category-product  *********************************/
.category-product {
    width: 100%;
    float: right;
    padding: 50px 0;
}

.category-product .product {
    margin-bottom: 30px;
}
/********************************************************  sidebar  *********************************/
.sidebar {
    width: 100%;
    float: right;
    padding: 50px 0;
}

.sidebar .widget {
    width: 100%;
    float: right;
    margin: 5px 0 30px;
    padding: 10px 20px;
    position: relative;
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.sidebar .widget h3 {
    margin: 5px auto 20px;
    font-size: 17px;
    color: #5fb7ea;
}

.sidebar .widget .widget-content .sidebar-input input[type="checkbox"],.sidebar .widget .widget-content .sidebar-input input[type="radio"] {
    display: none;
}

.sidebar .widget .widget-content .sidebar-input input[type="checkbox"] + label,.sidebar .widget .widget-content .sidebar-input input[type="radio"] + label {
    display: block;
    position: relative;
    margin: 10px auto;
    padding-right: 20px;
    font-weight: 400;
}

.sidebar .widget .widget-content .sidebar-input input[type="checkbox"] + label:before,.sidebar .widget .widget-content .sidebar-input input[type="radio"] + label:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 10px;
    background: #BDC3C7;
    border-radius: 2px;
    text-align: center;
}

.sidebar .widget .widget-content .sidebar-input input[type="radio"] + label:before {
    border-radius: 50%;
}

.sidebar .widget .widget-content .sidebar-input input[type="checkbox"]:checked + label:before,.sidebar .widget .widget-content .sidebar-input input[type="radio"]:checked + label:before {
    content: "\f00c";
    font-family: "FontAwesome";
    background: #27AE60;
    color: #fff;
}

.sidebar-input-design input[type="checkbox"],.sidebar-input-design input[type="radio"] {
    width: 15px;
    height: 15px;
    position: relative;
    top: 5px;
    right: 0;
    font-size: 10px;
    background: #BDC3C7;
    border-radius: 2px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.sidebar-input-design input:checked {
    position: relative;
    background: #27AE60;
    color: #fff;
}
.sidebar-input-design input[type="radio"] {
    border-radius: 50%;
}

.sidebar-input-design input[type="checkbox"]:checked,.sidebar-input-design input[type="radio"]:checked {
    position: relative;
    background: #27AE60;
    color: #fff;
}
.sidebar-input-design input[type="checkbox"]:checked:before,.sidebar-input-design input[type="radio"]:checked:before {
    content: "\f00c";
    font-family: "FontAwesome";
    position: absolute;
    top: 2px;
    right: 2px;
    background: #27AE60;
    color: #fff;
}

.sidebar .widget .widget-content ul li {
    display: block;
    padding: 5px 0;
}

.sidebar .widget .widget-content ul li a {
    display: block;
    line-height: 25px;
}

.sidebar .widget .widget-content ul li a:hover {
    color: #5fb7ea;
}

.sidebar .widget .tagcloud a {
    display: inline-block;
    margin: 2px;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 300px;
    background: #5fb7ea;
    border-color: #5fb7ea;
    color: #fff;
}

.sidebar .widget .tagcloud a:hover {
    background: #ff688f;
    border-color: #ff688f;
    color: #fff;
}

.sidebar .widget input,.sidebar .widget textarea {
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px;
    border: 1px solid #ddd;
    resize: none;
}

.sidebar .widget input:focus,.sidebar .widget textarea:focus {
    border-color: #5fb7ea;
}

/********************************************************  End of category-product  *********************************/

/********************************************************  page-account  *********************************/
.page-account .form-icon {
    width: 70px;
    height: 70px;
    display: table;
    margin: 0 auto;
    line-height: 70px;
    background: #5fb7ea;
    color: #fff;
    text-align: center;
    border-radius: 300px;
    font-size: 30px;
}

.page-account .login-form h2,.page-account .signup-form h2 {
    margin: 0 auto 10px;
    font-size: 20px;
    color: #5fb7ea;
}

.page-account .signup-form h2 {
    color: #ff688f;
}

.page-account form {
    padding: 20px 0 0;
}

.page-account a {
    color: #5fb7ea;
}

.page-account .login-form input,.page-account .signup-form input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.page-account .login-form input[type="submit"] {
    background: #5fb7ea;
    border: 1px solid #5fb7ea;
    color: #fff;
}

.page-account .signup-form input[type="submit"] {
    background: #ff688f;
    border: 1px solid #ff688f;
    color: #fff;
}

.page-account .signup-form .form-icon {
    background: #ff688f;
}

.page-account input[type="checkbox"] {
    width: auto;
    border: 0;
    box-shadow: none;
    display: none;
}

.page-account input[type="checkbox"] + label {
    position: relative;
    padding-right: 20px;
}

.page-account input[type="checkbox"] + label:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 10px;
    background: #BDC3C7;
    border-radius: 2px;
    text-align: center;
}

.page-account input[type="checkbox"]:checked + label:before {
    content: "\f00c";
    font-family: "FontAwesome";
    background: #5fb7ea;
    color: #fff;
}
/********************************************************  End of page-account  *********************************/

/********************************************************  blog  *********************************/
.blog-wrapper {
    width: 100%;
    margin: 50px auto;
}

.blog-wrapper .blog-item {
    width: 100%;
    float: right;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 13px;
    background: #fff;
    color: #777;
    line-height: 30px;
}

.blog-wrapper .blog-item figure {
    position: relative;
}

.blog-wrapper .blog-item figure .meta-time {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    text-align: center;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
}

.blog-wrapper .blog-item figure .meta-time .date {
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: #484848;
    line-height: 25px;
}

.blog-wrapper .blog-item figure .meta-time .date em {
    display: block;
    font-size: 20px;
    font-style: normal;
}

.blog-wrapper .blog-item figure .meta-time .year {
    display: block;
    padding: 3px 0;
    color: #fff;
    background: #5fb7ea;
}

.blog-wrapper .blog-item h2 {
    margin: 20px auto;
    font-size: 20px;
}

.blog-wrapper .blog-item h2.title-blog,.blog-wrapper .blog-item h2 a {
    color: #5fb7ea;
}

.blog-wrapper .blog-item h2 a:hover {
    color: #ff688f;
}

.blog-wrapper .blog-item .read-more {
    float: left;
    margin: 0 10px;
    padding: 5px 30px;
    background: #5fb7ea;
    color: #fff;
}

.blog-wrapper .blog-item .read-more:hover {
    background: #ff688f;
}

.blog-wrapper .pagination {
}

.blog-wrapper .pagination a,.blog-wrapper .pagination span {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 0 10px 5px;
    background: #fff;
    border: 1px solid #f4f4f4;
    text-align: center;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.blog-wrapper .pagination a:hover,.blog-wrapper .pagination span:hover {
    background: #5fb7ea;
    color: #fff;
}

.blog-wrapper .blog-item .blog-social {
    width: 100%;
    float: right;
    padding: 20px 0 0;
    position: relative;
}

.blog-wrapper .blog-item .blog-social .title-social {
    position: relative;
}

.blog-wrapper .blog-item .blog-social .title-social .content-social {
    padding-right: 20px;
    font-size: 15px;
}

.blog-wrapper .blog-item .blog-social .title-social i {
    position: absolute;
    top: 8px;
    right: 0;
}

.blog-wrapper .blog-item .blog-social ul {
    float: left;
}

.blog-wrapper .blog-item .blog-social ul li {
    float: right;
    padding: 0 5px;
}

.blog-wrapper .blog-item .blog-social ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    background: #fdfdfd;
    color: #fff;
    border-radius: 300px;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.blog-wrapper .blog-item .blog-social ul li a.facebook {
    background: #3b5998;
}

.blog-wrapper .blog-item .blog-social ul li a.goops {
    background: #dd4b39;
}

.blog-wrapper .blog-item .blog-social ul li a.twitter {
    background: #1da1f2;
}

.blog-wrapper .blog-item .blog-social ul li a.pinterest {
    background: #bd081c;
}

.blog-wrapper .blog-item .tags-item {
    width: 100%;
    position: relative;
    float: right;
    margin: 20px auto 0;
    padding: 10px 30px;
    background: #f7f7f7;
    border: 1px solid #ededed;
}

.blog-wrapper .blog-item .tags-item i {
    position: absolute;
    top: 15px;
    right: 10px;
}

.blog-wrapper .blog-item .tags-item a {
    height: 25px;
    float: right;
    display: inline-block;
    margin: 1px;
    padding: 0 10px;
    line-height: 25px;
    background: #eee;
    color: #999;
    white-space: nowrap;
}

.blog-wrapper .blog-item .tags-item a:hover {
    background: #5fb7ea;
    color: #fff;
}
/********************************************************  End of  blog *********************************/

/********************************************************    *********************************/
/********************************************************  End of   *********************************/

/********************************************************    *********************************/
/********************************************************  End of   *********************************/

/********************************************************    *********************************/
/********************************************************  End of   *********************************/

/********************************************************    *********************************/
/********************************************************  End of   *********************************/

/********************************************************    *********************************/
/********************************************************  End of   *********************************/

/********************************************************    *********************************/
/********************************************************  End of   *********************************/

/********************************************************    *********************************/
/********************************************************  End of   *********************************/

/********************************************************    *********************************/
/********************************************************  End of   *********************************/

/********************************************************    *********************************/
/********************************************************  End of   *********************************/
